<h2>Batting Statistics</h2>
<select [(ngModel)]="selectedSeason" (change)="loadBatterStats()">
  <option *ngFor="let year of [2024, 2023, 2022, 2021]" [value]="year">
    {{ year }}
  </option>
</select>

<table>
    <thead>
      <tr>
        <th (click)="sort('name')">Name</th>
        <th (click)="sort('Team')">Team</th>
        <th (click)="sort('WAR')">WAR</th>
        <th (click)="sort('OPS')">OPS</th>
        <th (click)="sort('OBP')">OBP</th>
        <th (click)="sort('SLG')">SLG</th>
        <th (click)="sort('PA')">PA</th>
        <th (click)="sort('H')">H</th>
        <th (click)="sort('AVG')">AVG</th>
        <th (click)="sort('HR')">HR</th>
        <th (click)="sort('RBI')">RBI</th>
        <th (click)="sort('SB')">SB</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of sortedBatters">
        <td>{{ player.name }}</td>
        <td>{{ player.Team }}</td>
        <td>{{ player.WAR }}</td> 
        <td>{{ player.OPS }}</td> 
        <td>{{ player.OBP }}</td> 
        <td>{{ player.SLG }}</td> 
        <td>{{ player.PA }}</td> 
        <td>{{ player.H }}</td> 
        <td>{{ player.AVG | number:'1.3-3' }}</td> 
        <td>{{ player.HR }}</td>
        <td>{{ player.RBI }}</td>
        <td>{{ player.SB }}</td> 
      </tr>
    </tbody>
  </table>