<h2>Batting Statistics</h2>
<select [(ngModel)]="selectedSeason" (change)="loadBatterStats()">
  <option *ngFor="let year of [2024, 2023, 2022, 2021]" [value]="year">
    {{ year }}
  </option>
</select>

<table>
    <thead>
      <tr>
        <th (click)="sort('name')">Name</th>
        <th (click)="sort('Team')">Team</th>
        <th (click)="sort('WAR')">WAR</th>
        <th (click)="sort('OPS')">OPS</th>
        <th (click)="sort('OBP')">OBP</th>
        <th (click)="sort('SLG')">SLG</th>
        <th (click)="sort('PA')">PA</th>
        <th (click)="sort('H')">H</th>
        <th (click)="sort('AVG')">AVG</th>
        <th (click)="sort('HR')">HR</th>
        <th (click)="sort('RBI')">RBI</th>
        <th (click)="sort('SB')">SB</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of sortedBatters">
        <td>{{ player.name }}</td>
        <td>{{ player.Team }}</td>
        <td><span class="{{ isStatExceptional(player.WAR, 3) ? 'good-stat' : '' }}">{{ player.WAR }}</span></td> 
        <td><span class="{{ isStatExceptional(player.OPS, .800) ? 'good-stat' : '' }}">{{ player.OPS }}</span></td> 
        <td><span class="{{ isStatExceptional(player.OBP, .333) ? 'good-stat' : '' }}">{{ player.OBP }}</span></td> 
        <td><span class="{{ isStatExceptional(player.SLG, .500) ? 'good-stat' : '' }}">{{ player.SLG }}</span></td> 
        <td><span class="{{ isStatExceptional(player.PA, 600) ? 'good-stat' : '' }}">{{ player.PA }}</span></td> 
        <td><span class="{{ isStatExceptional(player.H, 175) ? 'good-stat' : '' }}">{{ player.H }}</span></td> 
        <td><span class="{{ isStatExceptional(player.AVG, .265) ? 'good-stat' : 'bad-stat' }}">{{ player.AVG | number:'1.3-3' }}</span></td> 
        <td><span class="{{ isStatExceptional(player.HR, 30) ? 'good-stat' : '' }}">{{ player.HR }}</span></td>
        <td><span class="{{ isStatExceptional(player.RBI, 100) ? 'good-stat' : '' }}">{{ player.RBI }}</span></td>
        <td><span class="{{ isStatExceptional(player.SB, 30) ? 'good-stat' : '' }}">{{ player.SB }}</span></td> 
      </tr>
    </tbody>
  </table>