<h2>Standings</h2>
<select [(ngModel)]="selectedSeason" (change)="loadStandings()">
  <option *ngFor="let year of [2024, 2023, 2022, 2021]" [value]="year">
    {{ year }}
  </option>
</select>

<table>
    <thead>
      <tr>
        <th (click)="sort('Team')">Team</th>
        <th (click)="sort('W')">W</th>
        <th (click)="sort('L')">L</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of sortedStandings">
        <td>{{ team.Team }}</td>
        <td><span class="{{ isStatExceptional(team.W, 81) ? 'good-stat' : 'bad-stat' }}">{{ team.W }}</span></td> 
        <td><span class="{{ isStatExceptional(team.L, 82) ? 'bad-stat' : 'good-stat' }}">{{ team.L }}</span></td> 
      </tr>
    </tbody>
  </table>